header {
	color: whitesmoke;
	background-color: #1f72a1;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#balance-container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
}

#welcome-user {
	text-align: center;
}

#balance {
	margin-right: 40px;
}

#eye-icon {
	font-size: 30px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#content {
	flex-grow: 1;
	background-color: #3181af;
	display: grid;
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(auto, 80px);
	gap: 10px;
	justify-content: center;
	align-content: start;
	padding: 40px;
}

.transaction-button {
	background-color: transparent;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 80px;
	height: 80px;
	border: 4px solid whitesmoke;
	border-radius: 10px;
}

.transaction-button:hover {
	color: #cc7f18;
	border: 6px solid #cc7f18;
}

.button-label {
	font-size: 10px;
}

.button-icon {
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 5px;
}

.dollar-sign {
	position: relative;
	font-size: 35px;
	left: 10px;
}

#pay-icon {
	font-size: 50px;
}
