#balance-container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
}

#welcome-user {
	text-align: center;
}

#balance {
	margin-right: 40px;
}

#eye-icon {
	font-size: 30px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#pay-icon {
	font-size: 50px;
}

footer {
	height: 120px;
	padding: 20px 55px;
	background-color: #1f72a1;
	display: grid;
	grid-template-columns: repeat(3, 80px);
	gap: 30px;
}

.atm-dollar-sign {
	margin: 0;
}
